// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Font-Awesome
@import '~@fortawesome/fontawesome-free/css/all.css';


#menu-toggle:checked ~ .menu {
    display: flex;
    margin-bottom: 6px;
}
